
{% load static %}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MusicSheet</title>

 
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Employee/css/style.css' %}">

{% load static %}
<script type="text/javascript" src="{% static 'Employee/js/script.js' %}"></script>


<script src="https://cdn.jsdelivr.net/npm/vexflow@1.2.93/releases/vexflow-min.js"></script>


	<script src="https://kit.fontawesome.com/4fd97b1926.js" crossorigin="anonymous"></script>
	<!----custom css link---->
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
	<!-- or -->
	<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="script.js"></script>

</head>
<body>


<div class="container">
  <h1>Add Employee</h1>
  <form method="post" action="{% url 'update_employee' employee.employee_id   %}">
  
   {% csrf_token %}

   {{form.as_p}}

   <button type="submit"> Update </button>
  </form>

  <a href="% url 'home' %">Cancel</a>
   
</div>



</body>
</html>

 

